@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-lime-primary: #D9FF41;
  --color-bg-light: #F4F4F4;
  --color-surface: #FFFFFF;
  --color-dark-primary: #121212;
  --color-text-secondary: #7C7C7C;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-dark-primary);
  font-family: var(--font-sans);
}

/* Custom scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}
